body {
    font-family: "Arial", sans-serf;
}

body br {
    padding: 100px;
}


header {
    background-color: darkslategray;
    height: 180px;
    padding: 4px;
}

header img {
    image-orientation: 
}

header h1 {
    font-size: 50px;
    font-family: Verdana,sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    line-height: 50px;
    letter-spacing: 5px;
}

header h2 {
    font-variant: small-caps;
    text-align: center;
    color: yellow;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dedede;
    text-align: center;
}

li {
    display: inline-block;
    list-style-type: none;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 21px
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.active {
    background-color: yellow;
}

ul li ul {
    background: #dedede;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: inherit
    left: 0;
    display: left;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    text-align: left;
    display: grid;
}

li:hover,
li:focus-within {
    background: #919191;
    cursor: pointer;
}

#headline {
    background-color: #919191;
    line-height: 50px;
    padding-left: 40px;
}

#text_content {
    background-color: #dedede;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    line-height: 25px;
    text-align: center;
}

#downline {
    text-align: center;
    padding-top: 20px;
}

