body {
    font-family: "Arial", sans-serf;
}

body br {
    padding: 100px;
}


header {
    background-color: #0040FF;
    height: 150px;
    padding: 4px;
}

header img {
    image-orientation: 
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

header h2 {
    font-variant: small-caps;
    text-align: center;
    color: #fff;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav-selections {
    text-transform: uppercase;
    letter-spacing: 5px;
    font: 18px "lato", sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 18px;
    float: right;
    margin-left: 50px;
    transition: 1.5s;
}

.nav-selections:hover {
    transition: 1.5s;
    color: black;
}

.active {
    background-color: orange;
}

#headline {
    background-color: #919191;
    line-height: 50px;
    padding-left: 20px;
}

#text_content {
    background-color: #dedede;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    line-height: 9px;
    text-align: center;
}

#downline {
    text-align: center;
    padding-top: 20px;
}


.fa {
  padding: 15px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
