body {
	font-family: "Arial", sans-serif;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	background-color: #fff;
	padding: 32px;
}

header {
	background-color: #0040FF;
	height: 150px;
	padding: 4px;
}

header h1 {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 50px;
}

header h2 {
	font-variant: small-caps;
	text-align: center;
	color: #fff;
}

.main_menu {
	padding: 5px 0 5px 0;
	text-align: center;
	line-height: 32px;
	background-color: #FF8000;
}

ul.main_menu {
	margin-top: 15px;
}

.main_menu li {
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 20px;
}

.main_menu a {
	text-decoration: none;
	color: #fff;
	padding: 8px;
	font-variant: small-caps;
}

.main_menu a:hover {
	color: #59d5d8;
}

text1 {
	text-align: center;
}

ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#inhalt {
	background-color: #0040FF;
	display: inline;
	padding: 0 10px 0 10px;
}

body {
    padding: 20px;
    font-family: Arial;
}

.content {
    background-color: white;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

#uebertitel {
	background-color: #919191;
	line-height: 50px;
	padding-left: 20px;
}

#textinhalt {
	background-color: #f2f2f2;
	line-height: 50px;
	padding-left: 20px;
}